[2015-05-04 18:02] cliftonlabrum opened #1 "Accessing clearSignature() Function"
First off, thank you for this. It's really handy and I appreciate that it's in Swift. :)

I have added your `YPDrawSignatureView` class to my signature view controller, and assigned the `YPDrawSignatureView` class to a `UIView` and I can sign with my finger.

The issue I'm having, however, is accessing your `clearSignature()` function from an `IBAction` in my view controller:

[code]

I'm getting

[2015-05-04 20:33] cliftonlabrum commented on #1
I figured this out. I wasn't subclassing `YPDrawSignature` correctly:

[code]

...and then I can call `clearSignature()` from within my view controller like this:

[code]

[2015-05-04 20:33] #1 closed, assigned to nobody

[2015-05-05 06:14] GJNilsen commented on #1
Did not read your issue before now because the time difference. If you are stuck on something, dont hesitate to contact me again. :-)

[2015-05-05 16:55] cliftonlabrum commented on #1
Great, thank you! :+1:

[2015-08-22 14:41] jesbu1 opened #2 "Saving and Later accessing signature"
I'm really new to swift, and I'm having trouble saving the image and loading it from a different location later.
I created a save button with this code:
    @IBAction func saveButton(sender: UIButton) {
        SignatureImage = signatureCaptureField!.getSignature()
        dismissViewControllerAnimated(true, completion: nil)
    }

What do I do with SignatureImage in order to make it save to the i

[2015-09-28 14:14] TyrantFox opened #3 "Starts drawing only after 5mm into the stroke"
Once your drawing your signature it tracks the movement of your finger nicely. It also accepts the tap well. However there is a lag between when you start moving your finger and when the gesture recognizer detects it as a pan gesture.

[2015-12-15 22:46] GJNilsen commented on #3
Thanks for fixing it! :)

[2015-12-15 22:46] #3 closed, assigned to nobody

[2015-12-16 00:12] TyrantFox commented on #3
You’re welcome - thanks for doing all the rest…

On Dec 15, 2015, at 4:19 PM, GJ Nilsen <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for fixing it! :)

—
Reply to this email directly or view it on GitHubhttps://github.com/yuppielabel/YPDrawSignatureView/issues/3#issuecomment-164922265.

[2015-12-18 13:38] sonalipawar opened #5 "how to clear the signatureView and how to save it in swift?"

[2015-12-19 06:10] GJNilsen commented on #5
Pull an UIView into your viewcontroller, connect the view to @IBOutlet var weak signatureField. Then you get the signature from the view by calling the public functions getSignature() and clearSignature().

[2015-12-19 06:10] #5 closed, assigned to nobody

[2015-12-19 06:11] GJNilsen commented on #2
Support questions on Stack Overflow please, issues are for bugs.

[2015-12-19 06:11] #2 closed, assigned to nobody

[2016-03-02 23:13] lenichols opened #6 "Implementing it in a sub UIView"
I have a view that loads a pdf... YPDrawSignatureView doesn't work with something already in the view. What method would you suggest to either programmatically draw ontop of the current view or add the drawing above the view... in javascript land you can use z-index to layer. I get no errors, just do not see the drawing ontop of the pdf in the uiview. Thoughts? Comments? Help getting this to work?

[2016-03-04 19:41] GJNilsen commented on #6
Thats right, YPDrawSignatureView is a subclass of an UIView, and only it is supposed to populate its own view. So you can put it onto of another view and capture the stack if you want to save a signature thats embedded in the document.

[2016-03-06 13:35] GJNilsen commented on #6
Since this is not a bug, I'll close this topic.

[2016-03-06 13:35] #6 closed, assigned to nobody

[2016-03-24 16:30] abduranjum opened #7 "Has Signature"
How to check if the signature is present now? The method has been removed. Also the touch delegates are not intercept able in the view controller, by which I can know that something happened. P.S.: I'm bridging to Objective-C.

[2016-03-25 14:22] GJNilsen commented on #7
Calculating the content of the produced UIImage was never the scope of this view. It is not good OOP to put some kind of validation within the display mechanism. There would also be a lot of different needs regarding a validator, some would calculate a mathematical hash as a result of the signature, and run some algorithm to compare it with previously stored signatures, others merely checking if t

[2016-03-25 14:22] #7 closed, assigned to nobody

[2016-03-25 15:47] abduranjum commented on #7
Thanks very much for the help and for the control!!!

[2016-03-25 17:44] yuppielabel commented on #7
For a quick and dirty validating routine, I would set up the controller where you have the view like this:

`@IBOutlet weak var drawSignatureView: YPDrawSignatureView!

@IBAction func save(sender: AnyObject) {
        let img = drawSignatureView.getSignature()
        let imgData: NSData = UIImageJPEGRepresentation(img, 0)!
        print("Size of Image: \(imgData.length) bytes")
    }`
Use the siz

[2016-03-31 10:54] GJNilsen commented on #7
You got your wish granted!

Before getting the UIImage from the signature view, check if its new calculated property `containsSignature` is true.

Usage:

[code]

[2016-03-31 12:32] GJNilsen opened #9 "Why no Carthage or CocoaPod support"
If you build a project and depend on fetching code from elsewhere that's not under your own control, you may one day end up opening a big bag of hurt. You should always build your whole app purely from content in your own repositories. Repositories are deleted and accounts are abandoned almost every day, and small projects like this one has no guarantee to be around tomorrow. Im committed to keepi

[2016-04-01 06:41] abduranjum commented on #7
Thanks!

[2016-04-01 09:08] GJNilsen commented on #7
Just remember to download the latest source file :+1:

[2016-04-01 09:38] abduranjum commented on #7
Done! :)

[2016-04-09 19:41] pentarex opened #11 "Delegate Property?"
Hi I am new to ios development, but how it seems that I cant access the delegate property, Ive added one on my own... is this ok or I am doing something wrong. I am adding the YPDrawSignatureView in a table cell.

[2016-04-09 20:08] GJNilsen commented on #11
Have you done the same as shown in the example in either the example project or the readme? Try that, and if you still are stuck, post a question on [StackOverflow](http://stackoverflow.com/search?q=YPDrawSignatureView). Its important you also post the code you have problems with. The issue tracker here at GitHub is only for reporting bugs or ask for features, not for support or help related stuff

[2016-04-09 20:08] #11 closed, assigned to GJNilsen

[2016-04-09 20:13] pentarex commented on #11
I think I have fixed it (imho)
https://github.com/pentarex/YPDrawSignatureView/blob/master/source/YPDrawSignatureView.swift

Check the stuff with //ADDED Comments
It is working in my case. Thanks for the implementation of this tool 👍

Edit: I am sorry for posting the question. I thought with the update something messed up thats why I have asked. Maybe you forgot something or dunno. It wasn't suppo

[2016-04-28 16:45] JeffESchmitz opened #12 "'YPDrawSignatureView' has no member 'delegate'"
The SignatureTest project doesn't compile.

SignatureTest - ViewController.swift, line 20: Error:(20, 5) value of type 'YPDrawSignatureView' has no member 'delegate'.

Doesn't YPDrawSignatureView need to expose a delegate?

Did something change (refactor) with YPDrawSignatureViewDelegate recently?

Jeff

[2016-04-28 17:27] GJNilsen commented on #12
I messed up a paste, thanks for telling me! 👍

Issue resolved and closed.

[2016-04-28 17:27] #12 closed, assigned to GJNilsen

[2016-04-28 17:50] GJNilsen commented on #11
Hi! I really misunderstood the issue, because I had added the delegate stuff earlier, but somehow messed up the code again without noticing it. Thats why I totally misunderstood what you wrote. I got another issue regarding this today, and compared it with my local copy, and then I got the error, lol. So thanks for your message, I really appreciate it, and I learned to be a bit more humble and rea

[2016-04-28 18:03] pentarex commented on #11
No worries mate :)

On Thursday, 28 April 2016, GJ Nilsen notifications@github.com wrote:

##

Sent from Gmail Mobile

[2016-04-28 18:06] GJNilsen commented on #11
👍

[2016-04-28 19:54] JeffESchmitz commented on #12
Thanks! Looking forward to using this in an app I'm working on.

[2016-06-14 18:14] GJNilsen opened #15 "Being able to get the path from the signature view"
Some times you want to store the signature in a vector type, so the signature can be exported in higher resolutions not supported by the capturing class. This will be implemented some time before the final Swift 3 release.

[2016-06-15 11:46] GJNilsen opened #16 "Force touch/3D Touch and pencil support"
Using force touch/3D Touch for setting the width of the drawn lines, as well as supporting Apple Pencil is high on the todo list, and will probably be ready in time for version 1.0.

[2016-06-19 13:32] penatheboss opened #17 "ContainsSignature is always false"
Hello. I am not sure if anybody else if facing the same problem, but I always find that when I check for `containsSignature`, it is always false.

[2016-06-20 08:23] GJNilsen commented on #17
You have probably done something wrong in your project. I just downloaded the current release, and I get the correct state in the containsSignature var. If you are stuck, then send me an email, and Ill get back to you.

[2016-06-20 08:23] #17 closed, assigned to GJNilsen

[2016-07-05 19:59] GJNilsen opened #18 "Swift 2.3"
Since Swift 2.3 and 3.0 probably will be released at the same time together with iOS 10 in September, there is no sense in supporting 2.3..

[2016-07-07 11:21] GJNilsen opened #19 "Create a package for SPM"
Would love if someone could fix whatever is needed for making a package for SPM on the Swift-3 branch.
@TyrantFox: Is this something you could do?

[2016-08-11 19:38] jordanHochstetler opened #20 "Interaction in a Scrollview"
We have the YPDrawSignatureView inside a scrollview and when you swipe in a vertical motion the scrollview is intercepting the input and scrolling the view instead of the YPDrawSignatureView getting the input. Does anyone know how to give this view priority?

[2016-08-13 18:55] GJNilsen commented on #20
A while ago this same question and an answer was posted on [StackOverflow](http://stackoverflow.com/questions/35833770/ypdrawsignatureview-table-scrolling-when-drawing-signature).
I try to separate bugs and feature request from support, so support related stuff should be posted on [StackOverflow](http://stackoverflow.com/search?q=YPDrawSignatureView). You would also get a lot of answers faster in

[2016-08-13 19:14] #20 closed, assigned to GJNilsen

[2016-09-04 08:37] hebbian opened #21 "Double finger to draw?"
I have to put my two fingers in order to draw, is this the default behaviour?

[2016-09-05 07:13] GJNilsen commented on #21
No, thats something I have never even heard of before, this is the first time someone had this issue. I would love to see how you have implemented the class, maybe you did something wrong, because this should not happen.

[2016-09-06 03:15] hebbian commented on #21
Hi @GJNilsen , I figured it out.

It's because I'm using another lib [(LGSideMenuController)](https://github.com/Friend-LGA/LGSideMenuController) that swallow up all pan gesture from the current view controller.

Thanks for the awesome code.

@Friend-LGA

[2016-09-06 05:28] GJNilsen commented on #21
Hi!

Thats great news it was not the signature class. The code was only possible because of the great support from the community.
Have a great day!

##

Geert Jan Korsbø Nilsen
Sent with Airmail

På 6. september 2016 på 05.15.15, hebbian (notifications@github.com(mailto:notifications@github.com)) skrev:

[2016-09-06 05:29] GJNilsen commented on #21
Turned out it had mothing to do with the signature class.

[2016-09-06 05:29] #21 closed, assigned to GJNilsen

[2016-09-12 06:31] GJNilsen commented on #16
This feature has been delayed.

[2016-09-12 09:45] #18 closed, assigned to nobody

[2016-09-21 09:29] lorenzoPrimi opened #23 "Integrate YPDrawSignatureView in a objective-c project"
Can you tell me the steps to integrate this class into an objective-c project?
Especially how to call swift methods from obj-c class.
Would be great to add it in the README
Thanks

[2016-09-22 17:00] GJNilsen commented on #23
Since this is not a bug report or a feature request, please repeat the question on [http://stackoverflow.com/search?q=ypdrawsignatureview](Stackoverflow)

[2016-09-22 17:00] #23 closed, assigned to nobody

[2016-09-23 04:34] aguel opened #24 "Closed Regions Filled/Shaded when Saving Signature"
I have a very basic code:

**let image = signPad.getSignature()!
let imageData = UIImagePNGRepresentation(image)**

The resulting saved/uploaded image seems to fill/shade any close regions in the signature. See result below:

**AS SIGNED (ORIGINAL):**
<img width="297" alt="original" src="https://cloud.githubusercontent.com/assets/4126254/18774210/83803d94-8189-11e6-81cd-0bb81878b009.png">

**RESUL

[2016-09-23 12:31] GJNilsen commented on #24
I used the sample app, and could not recreate the error you have encountered.
I altered the code in the save signature function, and added code that is close to your code
`
// Gets the signature of type UIImage from the signature view
let testsignature = self.signatureView.getSignature()
// converts the testsignature of type UIImage to NSData
let pngimage = UIImagePNGRepresentation(testsignature!)

[2016-09-23 12:52] aguel commented on #24
Thanks. Closing the ticket. I think it has something to do with my upload handler (PHP).

[2016-09-23 12:52] #24 closed, assigned to nobody

[2016-09-23 13:10] GJNilsen commented on #24
Ok. I can ask one of our back-end guys to help if you have problems with the php-related stuff.

[2016-11-03 04:00] TheDagger opened #25 "Reference to member 'black' & 'white' cannot be resolved without a contextual type."
I copied the class file into my project but it won't compile with this error.  Any ideas?

[2016-11-03 04:00] TheDagger commented on #25
Seems to mess up on this line, @IBInspectable public var strokeColor = .black {

[2016-11-03 04:10] TheDagger commented on #25
I think I fixed it if you do this change, @IBInspectable public var strokeColor : UIColor = .black {
        didSet {
            self.strokeColor.setStroke()
        }
    }

[code]

[2016-11-03 04:10] TheDagger commented on #25
You have to specifically tell the type of the variables now apparently in Swift 3

[2016-12-16 07:09] arshadsk5 opened #26 "Needed for swift 2"
please make a build for swift 2.

[2016-12-16 23:35] GJNilsen commented on #26
There is a release for Swift 2.2, earlier Swift versions will not be supported, sorry

[2016-12-16 23:35] #26 closed, assigned to nobody

[2016-12-29 13:57] kaishin commented on #9
As an OSS maintainer myself, I prefer to leave it up to library users to decide how to best use their time. Forking, using submodules, or copy-pasting code are all more time consuming and introduce extra overhead in general. I do not want to make this decision on behalf of others.

[2016-12-29 14:01] GJNilsen commented on #9
You are free to do whatever you like, so am I. I do not see a future in Carthage or CocoaPods, and thats why I do not want to use time supporting it. But if someone would do the job and making a pull request, I would happily merge it.

[2016-12-29 14:05] kaishin commented on #9
@GJNilsen Fair enough. My comment was purely to provide a different take, and I am by no mean asking you or anyone else to do anything. I will fork and open a PR if we end up using YPDrawSignatureView in my current project. Thank you for all the hard work!

[2016-12-29 14:33] GJNilsen commented on #9
I did not mean to disrespect you, its just my personal opinion regarding dependency injection. Im a strong proponent that you only depend on code you have full control over.

I have one example. I wanted to make a tool for combining different PDF files, and provide support for DropBox. The DropBox library depends on a couple of different other libraries that also depended on other libraries. Becau

[2017-01-02 12:46] kaishin commented on #9
@GJNilsen I share your point of view as a library user. I fork or rewrite stuff from scratch and only use micro-libraries like this one. On my own open-source libraries I always try to not have 3rd party dependencies to avoid the scenario your described.

[2017-02-25 22:12] #25 closed, assigned to nobody

[2017-02-25 22:44] #19 closed, assigned to nobody

[2017-04-28 17:09] danhixon opened #32 "Tap for dot not working"
Thank you for this excellent tool, I can't seem to get the dot in my signature to show up. Is there a setting to enable this or am I missing something?

[2017-04-28 17:50] danhixon commented on #32
It seems that touchesMoved is fired on a tap and the ctr becomes 1 or 2 and the dot is not drawn. Is this happening to others?

[2017-05-02 10:21] GJNilsen commented on #32
...

[2017-05-02 15:15] danhixon commented on #32
I understand and thanks for taking a look. I might be able to fix it. Do you have an idea of how you'd approach it? I'm not very familiar with the view touches methods. Do you think adding a tap gesture recognizer would be appropriate?

[2017-05-02 15:58] GJNilsen commented on #32
If we add a gesture recognizer to it, it will interfere with the existing methods. I guess the quick and dirty solution is to compare the location of the first touch in touchesBegan as well as touchesEnded. If they are identical, its a dot. Else its a line. So then I guess there has to be drawn a pre-defined dot in the location.

[2017-05-02 16:14] GJNilsen commented on #32
I fixed it, it was just a single line that needed editing. I did a quick test on a device and in the simulator, and it looks OK. You could give it a try, and if you dont find any issues, Ill merge the branches.

[2017-05-02 20:27] GJNilsen commented on #32
Did some more testing, works OK. Issue closed.

[2017-05-02 20:27] #32 closed, assigned to GJNilsen

[2017-05-02 20:29] danhixon commented on #32
Thank you very much! You rock!

[2017-05-02 20:31] GJNilsen commented on #32
No problem, thanks for pointing it out 👍

[2017-05-03 12:37] GJNilsen commented on #15
Finally added support for vector graphics.

[2017-05-03 12:37] #15 closed, assigned to GJNilsen

[2017-05-03 12:48] #9 closed, assigned to nobody

[2017-05-03 16:30] GJNilsen commented on #16
To implement this, the drawing engine needs to be completely rewritten. It probably going to happen some day, but not in the foreseeable future.

[2017-05-03 16:30] #16 closed, assigned to GJNilsen

[2017-05-22 15:52] bunkerbilly opened #35 "Stroke colour not following through to saved image"
Swift 3
IOS 9.0

When i change the stroke colour (e.g. red), drawing the signature the strokes are red but when i save the image it sets it back to black? any idea what could be causing this?

        let jpgImageData = UIImageJPEGRepresentation(vewSignature.getSignature()!, 0.5)

        do
        {
            try! jpgImageData!.write(to: URL(fileURLWithPath: "Sig.jpg"), options: [.atomic])

[2017-05-23 20:16] GJNilsen commented on #35
There is absolutely nothing wrong with your code, there is a bug in the class. Ill get back to you. Thanks for bringing this to my attention.

[2017-05-23 20:35] GJNilsen commented on #35
And then it was fixed.

[2017-05-23 20:35] #35 closed, assigned to nobody

[2017-06-13 13:40] sssbohdan opened #37 "Drawing process"
It seems that drawing process works incorrect(tiny tails in the end of lines) - [screenshot]( http://imgur.com/a/rzbPP). I may be wrong, but it seems that problem is caused by these lines of code:
[code]

[2017-06-14 14:56] GJNilsen commented on #37
Setting the end caps to round would remedy the problem. I guess that would be a better solution anyway, making the signature look more natural. Ideally the class should have variable line width responding on force, utilizing ForceTouch and/or Apple Pencil. The reason why variable line width has not been implemented, is because the drawing routines has to be completely rewritten...

Bug has now bee

[2017-06-14 14:56] #37 closed, assigned to nobody

[2017-06-19 11:51] srikumaran opened #39 "Non-'@objc' method 'didFinish()' does not satisfy requirement of '@objc' protocol 'YPSignatureDelegate'"
Simply YPDrawSignatureView File Integrate with my Project, i get this issue...!
Thanks in Advance.
Waiting For your Reply.

Non-'@objc' method 'didFinish()' does not satisfy requirement of '@objc' protocol 'YPSignatureDelegate'
![screen shot 2017-06-19 at 5 15 07 pm](https://user-images.githubusercontent.com/5928263/27283678-fc40e438-5512-11e7-881e-24da1a95cc52.png)

[2017-06-20 17:14] GJNilsen commented on #39
I cloned a fresh copy from GitHub, and I get no errors. The only stable branch is the Master branch. I do not know what you did to to get that error, and I do not have time to provide support. The only suggestion I have is to get yourself a fresh copy of the class, and follow the instructions provided.

All support questions should be posted on StackOverflow. The issue tracker is for bugs only.

[2017-06-20 17:14] #39 closed, assigned to nobody

[2017-09-23 23:31] AshotN opened #44 "Resume Signature"
There is no way to set a signature in the signature view right now. Would be a nice feature

[2017-10-17 23:49] GJNilsen commented on #44
Im not sure if I understand you correctly. Do you want to be able to display a stored signature or image? Like a placeholder? I would appreciate it if you could elaborate a tad.

[2017-10-18 00:38] AshotN commented on #44
Sorry for the ambiguity, I meant it would be nice if we were able to display a signature in the signature view and allow the user to resume from it.

If someone starts a signature, accidentally leaves the view and comes back.

[2017-10-18 20:52] GJNilsen commented on #44
At first glance, the feature sounds great. It would not be difficult to implement it, but Im having some objections to it.

In some countries, digital signatures like the one collected by this class, is equivalent with its analog counterpart. So if it should be legally binding, it has to be as close to the analog counterpart as possible, and even the process of signing should be close to it as wel

[2017-10-19 08:17] AshotN commented on #44
Alright, how about display the signature as read only. Saves a lot of time, rather then displaying the image version over the signature view. Also a user can still do it piece by piece, so I'm not sure about the legal issues. Thanks

[2017-10-20 11:58] GJNilsen commented on #44
Well, someone always sign a document within a very short timeframe, so being able to sign partial signatures, and come back to continue the signature is not something a normal person would do. So after considering it, the idea sounds even worse now. Maybe there would be an edge use case for it, but as long as Im not aware of a real need for such a function, it will not be added.

[2017-10-20 11:58] #44 closed, assigned to nobody

[2017-11-13 21:47] riverbaymark opened #45 "CGPath, Annotation, and PDFKit iOS 11"
Not sure if this is the best place to bring this up, but I think it is something that could be useful for many developers to add signature annotations to their PDFs.  I apologize for my poor comprehension of CoreGraphics to this point as I have struggled with learning more about the  library over the weekend.

Apple does not have any documentation on their PDFKit signature widget, but has an excel

[2017-11-14 13:46] GJNilsen commented on #45
The quick and dirty fix would be to do some small changes to the source code.
fileprivate var path = UIBezierPath() should be changed to public, and then accessing its cgpath. Im going to investigate it more closely and see if there is a way of integrating it more with PDFKit.

[2017-11-14 19:58] riverbaymark commented on #45
Thanks @GJNilsen!

[2017-11-17 18:45] Chris-BMA commented on #45
This indeed works after making the path property public.  To add it to a page using PDFKit, you would just create a PDFAnnotation using the "ink" subtype widget.

[code]

Depending upon the path's bounds, you may need to scale it **before** adding it to the annotation.  For example, I had to shrink the path after capture by quite a bit to fit it in on a corresponding line/box on a pdf form we use.

[2017-11-17 18:51] GJNilsen commented on #45
For adding an annotation that would work, but what if you want to add it so it is a part of the page itself? Annotations are just blobs of meta data, and not an integral part of the document.

[2017-11-17 19:10] Chris-BMA commented on #45
It depends on the situation.  We have a pdf form that already exists that we bundle with the app, and we just need to populate and sign it.  Annotations work fine for that.  But if you didn't have the pdf file and you wanted to create it inside the app, you could create a UIView and lay it out accordingly, to include a subview of YSDrawSignatureView.  When the user finishes signing, you can render

[2017-11-17 19:35] GJNilsen commented on #45
Ok. Well, thanks for the info, Im archiving this so the next one who needs a signature in a pdf document can find some help here.

[2017-11-17 19:35] #45 closed, assigned to nobody

[2017-12-23 14:21] ambujshukla-cdn opened #46 "How to load saved signature."
Hi,
   How can I load the signature if gets saved in to database in Data format. Can you please have a look.

[2017-12-27 09:34] GJNilsen commented on #46
Loading signatures is not within the scope of this class, so it will not be supported. If you want an example on how to make an UIImage from NSData, please search Stackoverflow, and if there is no answer regarding that, post a question yourself. Ill check there within a day or two to give an answer if not one is given.
TheGitHub issue tracker is for bugs, not for support.

[2017-12-27 09:34] #46 closed, assigned to nobody

[2018-01-11 15:01] zaggo opened #47 "YPSignatureDelegate not public"
Hi,
the declaration of `protocol YPSignatureDelegate` and the `weak var delegate: YPSignatureDelegate?` property aren't declared public.
Thus (at least when `YPDrawSignature` is imported via Cocoapods), neither the delegate property nor the protocol declaration are accessible.

Both should be declared public (as the `class YPDrawSignatureView` itself)

[2018-01-23 12:21] GJNilsen commented on #47
Ok, thanks for pointing it out. I do not use cocoapods, Im not a fan of any automation of injecting code on build time, since it can be the root of a bag of hurt when there are compatibility issues or bugs. But Ill fix it on the next update. Its coming some time next week.

[2018-02-04 05:15] bisht2ankit opened #48 "How to get imageurl"
How to get  signature image url?

[2018-02-04 16:33] GJNilsen commented on #48
There is no image url. The image is stored in a class property itself, from there you can do with the image whatever you like.

`getSignature()`
- Returns signature with bounds of YPDrawSignatureView instance

`getCroppedSignature()`
- Returns signature with bounds of signature

`getPDFSignature()`
- Returns signature as Vector Path PDF Data Format

[2018-02-04 16:33] #48 closed, assigned to nobody

[2018-02-04 17:47] GJNilsen commented on #47
Next week is still some time in the future, sorry for that.. I have asked one of the fork owners who has fixed this to make a pull request so I can merge in the changes. This is for proper accreditation.

If no pull request has been made within the next couple of days, Ill do it myself.

[2018-03-13 11:59] Rushang08 opened #49 "Draw signature"
How can i draw signature from base64String.

[2018-03-14 10:45] GJNilsen commented on #49
This class does not draw signatures, it captures a signature drawn on screen. If you need to load a signature from a base64String, you should head over to Stack Overflow.

[2018-03-14 10:45] #49 closed, assigned to nobody

[2018-03-23 21:43] caesss commented on #47
Any updates on the solution here? I'm on xcode 9 swift 4 imported this into my project, works great but I can't get the delegates to trigger. Any suggestions?
UPDATE:
Nevermind, I forgot to set the delegate
signatureView.delegate = self

[2018-03-30 14:26] #47 closed, assigned to nobody

[2018-04-08 13:54] bluelinecoding commented on #47
Possible to add new version to Cocoapods?

[2018-04-09 00:53] GJNilsen commented on #47
To make a cocoapod, I need to install a lot of crap, like Ruby and, ofcourse, cocoapod itself. I never use dependency managers, and do not want to install them either. There was one who did set up cocoapods for this class, but he included too much stuff in it, so it was not a clean cocoapod. But if there is someone out there who could set up a cocoapod for this class, please do, but t only include

[2018-05-01 07:16] iamsanketray123 opened #51 "Black screen flickering on tapping the edge of the view and unable to draw towards the edge as well"
I have a uiview which inherits from YPDrawSignatureView. But when I try to draw a signature towards the edge, the signature is not registered and sometimes the app flickers with a black screen. Although I am able to draw in the middle of the view.  I also get this error message while setting up the custom class to "YPDrawSignatureView" --> Designables - Build Failed and I am using xibs and not sto

[2018-05-04 06:07] shkar62 opened #52 "Warning : memory leak"
As soon as I try to draw on the view, I get memory leak warning and the app crashes. Can someone assist?

[2018-05-05 14:16] #51 closed, assigned to nobody

[2018-05-05 23:39] GJNilsen commented on #52
The demo app does not crash, so if your app crashes, you probably did not set it up properly.

If you do have a problem with the class within your project, reach out at StackOverflow.

[2018-05-05 23:39] #52 closed, assigned to nobody

[2018-05-05 23:42] GJNilsen commented on #51
Im curious why you closed the issue. Did the problem relate to your project, or the signature class? I tried to sign on the edge of the view, and did not get the same outcome as you. Please provide more info if this is a problem related to the class.

[2018-05-06 03:11] iamsanketray123 commented on #51
The problem was in my project and not in the SignatureView. Sorry about that :(

[2018-05-06 23:35] GJNilsen commented on #51
No problem, thanks for clarifying.

[2018-05-18 05:53] robert-cronin opened #53 "Cocoapods Support"
Any chance of getting this as a pod?

[2018-05-18 08:57] GJNilsen commented on #53
No, not made by me, but if anyone wants to fix support for it, Ill merge it.

[2018-05-28 12:13] oleghnidets commented on #53
Hi guys,
Please check my PR #54. All you need is to publish the library.
`pod repo push YPDrawSignatureView.podspec`

Looking forward to get it via CocoaPods :)

https://guides.cocoapods.org/making/making-a-cocoapod.html

Or just merge it and I will try to push library to CocoaPods.

[2018-05-28 12:23] oleghnidets commented on #53
Unfortunately, I got an error

[2018-05-29 13:31] GJNilsen commented on #53
I merged it, so now you can push it to cocoapods..

[2018-06-01 13:09] mreilly4 commented on #52
@shkar62 did you ever find out what the issue is?  As soon as I try and draw my app freezes up and begins leaking memory until it crashes.

Thanks!

[2018-06-01 13:41] saormart commented on #52
@shkar62 and @shkar62, I'm using this great signature framework and it's working fine for me !
My app have several screens that use not only one field to sign, but two  and I did a memory leak tests and have no problem !
As @GJNilsen said, you may have miss-configured your app... Try doing some tests with it's demo to try replicate your issue!

[2018-06-05 22:15] #53 closed, assigned to nobody

[2018-06-06 05:31] hadwanihardik commented on #20
I resolved this issue. Here is the solution.

 -- Redacted, see https://stackoverflow.com/questions/35833770/ypdrawsignatureview-table-scrolling-when-drawing-signature/35940220?noredirect=1#comment88433741_35940220

[2018-06-07 07:07] GJNilsen commented on #20
The issue tracker is for bugs only, not support. Use StackOverflow for code samples.

[2018-06-07 07:26] hadwanihardik commented on #20
I just pasted solution link not code snipet

[2018-06-28 13:44] Ans67 opened #55 "Issue signature in UItableViewCell."
I use Signature vIew in my UITableviewcell Uiview.signature not working properly.
Here is my code
@IBOutlet weak var viewSignature: YPDrawSignatureView!
 override func awakeFromNib() {
        super.awakeFromNib()
        viewSignature.delegate = self
    }

func didStart() {
        print("start")
    }

    func didFinish() {
        signatureImage = viewSignature.getSignature()!
        delegat

[2018-06-28 14:14] saormart commented on #55
What's the problem you're facing ?
What exactly you're trying to accomplish ?

[2018-06-28 15:18] Ans67 commented on #55
I want to accomplish signature in UIview.
UIVIEW is embedded in UITableViewCell.
Currently singature can't be done properly(as per demo app it's working properly). I want to do as per demo in my current UIVIEW which is embedded in UITableViewCell.

[2018-06-28 15:38] saormart commented on #55
So, you may remove the 2 lines from func didFinish() and if you want to capture that signature and assign it to a object you may create another function called from a button or anywhere else!
That didFinish() function is fired everytime the user "finish" the signature... if the user "touch" multiple times to sign, it will fire that function multiple times as well, that's may is the reason you have

[2018-06-30 16:49] GJNilsen commented on #55
Great answer.

## Support and Issues
GitHub Issues are for filing bug reports and feature requests only. Use [StackOverflow](http://stackoverflow.com/search?q=YPDrawSignatureView) for support related questions and help.

[2018-06-30 16:49] #55 closed, assigned to nobody

[2018-07-02 18:38] xsteviex opened #57 "Add reference to YPDrawSignatureView from Delegate"
I needed to grab the YPDrawSignatureView by reference as I have multiple YPDrawSignatureViews per view controller. In order to do this I modified the delegate to pass a reference to the view when it's triggered. The code was pretty easy, and I think adding this functionality in would be pretty useful. Can this be added as part of the project?

[code]

[2018-07-03 12:51] ambujshukla-cdn opened #58 "Add signature view to tableview."
Hi,
How can I use the signature view inside a tableviewcell. As when I save the signature view after drawing ended in a local object and then again load the local object of the signature to the view(signature) while scrolling the table view. But it shows nothing on the table view. So can you please help me to achieve this.

Help would be highly appreciated.

[2018-07-04 09:52] GJNilsen commented on #58
This has been answered here and on Stackoverflow. Please go there for support. And search before you ask!

[2018-07-04 09:52] #58 closed, assigned to nobody

[2018-07-04 09:55] GJNilsen commented on #57
make a pull request and it will be added.

[2018-07-04 10:01] ambujshukla-cdn commented on #58
Hi, where it is answered?. I'm not seeing any link of stackoverflow.

[2018-07-04 10:13] GJNilsen opened #59 "READ THIS FIRST BEFORE FILING ANY ISSUES!"
##Only post **BUG** reports or **REQUESTS**. The issue tracker is **NOT** for asking for help with your code!

Stackoverflow is a great source for support, so please take your questions there. The reason for this policy is that I do not have the time or resources to support you, and therefor support related issues would accumulate and drown the issues I do prioritize, such as bug reports and featu

[2018-07-04 10:15] GJNilsen commented on #58
The link is in the readme file.

[2018-07-04 14:06] xsteviex commented on #57
Thank you.

[2018-07-04 14:06] #57 closed, assigned to nobody

[2018-07-23 04:22] FahdSaif opened #61 "error:required code signature missing"
![errorinib](https://user-images.githubusercontent.com/20011570/43057080-957fd1e2-8e72-11e8-860f-fed83502f3c2.png)

Hi Nielsen and development team, we are working with IOS SWIFT 3.2 and xcode version 9.2, MacOS Sierra, and getting the error in the attached png file. Failed to render, required code signature missing. The program does compile and I am able to get the signature also correctly, but t

[2018-07-27 20:55] GJNilsen commented on #61
This is because somebody made a Cocoapod of this class. Its something I have strongly advised against, you should just download the class, and then add it to your project i stead of as a framework. That shit does just not work.

The simple solution: Delete the Cocoapod, and remove any trace of the YPDrawSignatureView.framework. Then clone this repo, or even simpler, just download the single file t

[2018-07-27 20:56] #61 closed, assigned to nobody

[2018-08-20 10:46] LinusGeffarth opened #62 "Set image as signature"
In my app, I want to save and restore the signature in a `YPDrawSignatureView`.
Therefore, I get the drawn signature and save that as an image. When restoring, I want to set the signature to the view.
Would that be possible?

[2018-08-20 14:19] GJNilsen commented on #62
This is not within the scope of the class, but you could set an image into the background view.

[2018-08-20 14:20] #62 closed, assigned to nobody

[2018-08-20 15:17] LinusGeffarth commented on #62
When grabbing the new signature, will the imageof the restored signature be also snapshot?

[2018-08-21 08:08] GJNilsen commented on #62
Use StackOverflow for support. GitHub Issues are for bugs only

[2018-08-29 15:12] SriKrishnaCovalense opened #63 "Lag in iPhone X"
Greeting,

I am developing a pet project using your library for signature module. Everything works fine, but when i try to run the same in iPhone X, either in simulator or in real device, there is a lot of latency in the sense that the Touch Events Don't catch up with the Drawing on the Screen.

The same issue is not being reproduced in lower Devices.

Please check and let us know.

[2018-08-29 15:28] GJNilsen commented on #63
Im running the sample project on my personal iPhone X with iOS 12 beta 10, and I do not experiencing any latency problem. This has to relate to your own code.

[2018-08-29 15:28] #63 closed, assigned to nobody

[2018-09-10 10:40] crasholo opened #64 "Apple Pencil support"
Hi, and thanks for your code.
I was wondering if you plan to add support for Apple Pencil, such as pressure writing and so on...
Thanks

[2018-09-10 17:07] GJNilsen commented on #64
I would love to add this feature, but I do not have an iPad or Apple Pencil to test the code with. So unless someone donates the equipment needed 😉 or can test the code for me, it's not going to happen soon. Hopefully it can be added for the next major release, but thats still some time into the future.

[2018-09-11 09:52] crasholo commented on #64
Thanks for your answer. Unfortunately i can't help with the hardware donation :D but if you need testing, i'll be glad to help.
Thanks again for your reply and for your work.

[2018-09-11 09:55] GJNilsen commented on #64
Im on a stint now on a project ready for release, but Ill take a look at it after everything has calmed down. Ill notify you when I have the first build of version 2 of the class.

[2018-09-11 12:18] GJNilsen opened #65 "Signature Authentication"
Using invisible watermarks/steganography/checksum to provide authentication.

[2018-10-16 23:38] davidseek commented on #62
i think it's actually a pretty legit question and totally something that would be answered
in the issues section of other reps.
also this is way too broad for stackoverflow.
pretty much a guarantee to remain unanswered.
but whatevs

[2018-10-16 23:44] davidseek commented on #62
but to answer the question @LinusGeffarth :
from my observation there is no image to signature option.
also i assume that it would quiet hard to accomplish.

the best option (and what i did) was something like the following:

you will want to have a "remove signature" button anyways.
so when you load the view (for example through a 2nd controller),
you would usually pass an optional image (or data

[2018-10-17 06:20] LinusGeffarth commented on #62
@davidseek thanks for your answer. This was actually exactly the workaround that I chose. It worked fairly well, although I had to go in an manually take a snapshot of the view to get the image back, because the built-in one wasn't respecting the view hierarchy.

[2018-10-17 11:01] GJNilsen commented on #62
The issue tracker is for tracking issues, meaning bugs, as well as feature requests. This is not the place for support questions.

The reason why I'm so strongly against having support questions in the tracker is mainly that I do not have the time to answer these questions. StackOverflow is built for community support, so you are more likely to get a quick answer over there. Also, the search funct

[2018-10-17 14:08] davidseek commented on #62
@GJNilsen I understand your point. But I'm also a 3 year active member on Stack and I have more than 1.5M views on my answers and questions and in my experience questions for specific frameworks such as yours tend to remain under the radar as most of the Users are answering core questions such as "How to resize UIView", but are not familiar with specific frameworks and it might take a couple weeks

[2018-10-17 14:36] GJNilsen commented on #62
I do understand your point of view, I really do.

The problem is when someone is looking for a library, and if there are a lot of open issues, most just assume there is a lot wrong with the library and move on. As mentioned before, support requests do clutter the space, making the important stuff, like bugs and feature requests, drown in the noise. Also for the issue tracker to do its work, issues

[2018-10-17 14:59] davidseek commented on #62
I completely get your OCD. I'm the same way! :-)

[2018-12-17 09:00] Ran-hub opened #66 "I want to use camera and signature on screen can help how to do"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-12-17 17:40] GJNilsen commented on #66
This is not a bug report or a feature request, so its closed.

[2018-12-17 17:40] #66 closed, assigned to nobody

[2019-01-10 12:46] X901 opened #67 "old version on Cocoapods !"
I did install it via Cocoapods
by writing
`pod 'YPDrawSignatureView'`

and the version is **1.1.2** not **1.2**

even when I use `pod update`

[2019-01-10 18:03] GJNilsen commented on #67
This is because sombody else published their fork on cocoapods. I asked the person to delete it, but got no response. Also the guys managing the site do not respond.

[2019-01-13 11:21] X901 commented on #67
ok without Cocapods
I just need to move `YPDrawSignatureView.swift`
to my project ?
or they are something else like `import` ?

[2019-01-13 12:28] GJNilsen commented on #67
You just put it somewhere in your project. No imports.

[2019-01-13 12:28] #67 closed, assigned to nobody

[2019-01-18 05:15] JustinJusz opened #68 "Sometimes unable to get images"
![screenshot 2019-01-18 at 10 44 53 am](https://user-images.githubusercontent.com/44425802/51366912-32f63880-1b0e-11e9-8124-8d387d5f99d5.png)
![screenshot 2019-01-18 at 10 45 27 am](https://user-images.githubusercontent.com/44425802/51366914-32f63880-1b0e-11e9-97ac-0bcf7688c810.png)

[2019-01-18 05:26] #68 closed, assigned to nobody

[2019-01-18 09:39] GJNilsen commented on #68
Please provide more info than two screenshots, and if you close the report yourself, provide the reason for closing it.

[2019-02-06 04:28] PawanmSpaceo opened #69 "Detect handwritten signature"
I want to detect the signature from Camera Capture image, is it possible?

[2019-02-06 04:36] JustinJusz commented on #69
I think not possible. We can draw only through the views not in images

[2019-02-06 04:38] PawanmSpaceo commented on #69
Ok @JustinJusz Thanks...

[2019-02-06 16:01] GJNilsen commented on #69
As @justinjusz sats, this is outside of the scope of the class. It is rather an interesting idea though, and maybe something for another project.

[2019-02-06 16:01] #69 closed, assigned to nobody

[2019-04-03 12:24] X901 opened #71 "Could you add Eraser ?"
First I use your library for signature only but I notice users also use it to write so I was wondering could you add Eraser also?
Now you must clear all
it will better if you can erase

[2019-05-05 12:03] X901 opened #72 "performance issue when drawing 3 lines or more"
Hi ,
I notice that when drawing a lot of lines
the performance change very bad
you will notice lag when drawing!

I notice it very clear when drawing first line ok, 2nd line also ok
3rd and 4th line you notice it

see this video

https://cl.ly/5222627d0eb2

you will notice how bad the performance became at the end!

[2019-05-06 11:33] X901 commented on #72
This another video
https://cl.ly/384a0c9f4f3a

What I notice the more you draw the more the performance become bad

[2019-05-06 15:28] saormart commented on #72
@X901, well that looks like you're running in a simulator...
Do you have the same issue with a device ?
I'm using it in my application that I have two fields to sign, and it's working great with no problem!
I have tried the same thing you just did in your videos, and the only way to start having performance issues is if you "paint" the signature field....
So it's purpose is for signatures, not for

[2019-05-06 15:34] X901 commented on #72
This also happened with Device
You know when you do something  and Users surprising you ?
This what I faced , it should be for signing only, But the managers whose use the app they write some commends and also signing !
That how I know about this issue

[2019-05-06 15:49] saormart commented on #72
All right! The device I've tested is an iPad mini that works well for signatures only (so far no complaints)!
Have you consider add a textbox for the managers "Notes" ?
I'm saying that because in our case we need the users to add a note on a textbox and sign ! Both fields are mandatory! May by add a textbox to write something would be easy for the users to type something and if they type something

[2019-05-06 15:53] saormart commented on #72
But if you still want to use a signature field to add notes, you may test this other framework [here](https://github.com/ipraba/EPSignature) that may solve your problem!
I was using that one before, but I was trying to avoid add too many frameworks on my app, and YPDrawSignatureView was a better choice for me due it's works well in my app, and it's simple to implement / modify!

[2019-05-06 18:12] GJNilsen commented on #72
@X901 I'm not seeing any performance issues on the iPhone X. What kind of device are you running it on?

https://cl.ly/be617aaa483d

I ran some instruments tests on it as well, and I see absolutely no decrease in performance when before the signature path control points exceed 1024. When hitting this high a number, you don't use it for a signature anymore, that's more like taking notes.

The reaso

[2019-05-06 18:46] #72 closed, assigned to GJNilsen

[2019-05-06 18:53] GJNilsen commented on #71
The eraser is out of scope for this class, I'm afraid. Implementing an eraser would also be a bit difficult because the signature is made of vector lines, instead of a bitmap.

[2019-05-06 18:53] #71 closed, assigned to nobody

[2019-05-06 19:38] X901 commented on #72
@saormart there is a textview for note , but for unknown reason some users like to write it using Apple Pencil this was not expected before. so I think I need to look for draw framework not signature draw framework

@GJNilsen I was using iPad Pro , Thank you for let me know about how it does work
so I need to change the framework itself to another one

[2019-05-06 19:41] GJNilsen commented on #72
@X901 There will be support for the Apple Pencil in version 2 of the class, and probably some caching there. Maybe that will get the job done for you. I dont know when the class will be done, it depends on how much I get to do on my spare time.

[2019-05-21 08:55] PawanmSpaceo opened #73 "Undo Redo and Eraser Support"
I need an Undo Redo and Eraser Support can we add it?

[2019-05-21 09:48] GJNilsen commented on #73
TLDR: No

**Reasoning why**
Since this class is made for signatures, I would think there is no need for an eraser or undo function. There is a “clear signature” method, so that would be sufficient. The reasoning is that you would not erase parts of your signature on paper either. Even if one have multiple first or last names, so the signature consists of separate sections, the event of making a si

[2019-05-21 09:52] #73 closed, assigned to nobody

[2019-05-21 09:54] PawanmSpaceo commented on #73
@GJNilsen Thank you for replying...

[2019-05-21 10:10] GJNilsen commented on #73
I hope you understand its not to be a dick about it. There are great note taking classes around already, so I feel it would be almost like a waste of time to implement all the functions needed for being a great note taking class as well. I do understand the ease of having just to add one simple leight weigth source file to a project without the clutter of maybe hundreds of classes you would need f

[2019-05-21 10:27] PawanmSpaceo commented on #73
Yes, I understood actually you are right I'm using this for notes...

[2019-09-03 06:52] codicil opened #74 "saving the image within the App instead of photo gallery"
Hello, I want to safe the signature image within app rather than in the photo library and later on to assign to UIimage. is it possible?

Shabbir

[2019-09-03 07:30] GJNilsen commented on #74
Saving to the photo roll is done in the demo app as a demo. The UIImage you are getting from the class is up to you to save wherever you want.  If you need help on how to save it within your app, or for example upload it to a server, you can buy a support ticket, or get help on Stack Overflow.

[2019-09-03 07:30] #74 closed, assigned to nobody

[2019-10-10 08:18] fvolchyoksm opened #75 "Delegate property and YPSignatureDelegate are not public therefore not accessible to external code"
**Describe the bug**
YPDrawSignatureView's `weak var delegate` property and corresponding `protocol YPSignatureDelegate` are not public and could not be accessed/implemented if installed via CocoaPods.

**To Reproduce**
Steps to reproduce the behavior:
1. Install via cocoapods `pod 'YPDrawSignatureView'`
2. Do everything according to readme including settings class for UIView, import YPDrawSignatu

[2019-10-11 12:22] GJNilsen commented on #75
There is no support for cocoa pods. The problem is solved whe  you add the class as instructed in the readme.

[2019-10-11 12:28] #75 closed, assigned to nobody

[2019-11-22 14:40] JackTileman opened #77 "Non-'@objc' method 'didFinish' does not satisfy requirement of '@objc' protocol 'YPSignatureDelegate'"
We are using YPDrawSignature from here to draw a signature on the IOS App.

We are getting the following error on the UIViewController.

Non-'@objc' method 'didFinish' does not satisfy requirement of '@objc' protocol 'YPSignatureDelegate'

The UIViewController is this.

    class SignatureViewController:  UIViewController , UICollectionViewDelegate, UICollectionViewDataSource, YPSignatureDelegate

[2019-11-22 23:00] GJNilsen commented on #77
You have a typo in your code. The protocol requires
`func didStart(_ view :`
You have
`func didStart(_view : `
And the same goes for didFinish as well.

Please read the readme file carefully before opening issues. Issues like this is the reason why you should take it on Stackoverflow.

[2019-11-22 23:03] #77 closed, assigned to GJNilsen

[2019-12-02 12:57] ARASHz4 opened #78 "Signature Vector svg format"
signature can be exported as svg format

[2019-12-03 18:32] GJNilsen commented on #78
This would be really great. But support for it demands a lot of code, a svg library is probably 40 times as big as this little class, so a direct integration on svg within the class is far beyond the scope. If I had the time I could write a tutorial on how to integrate the class with one of the svg libraries, but for now Im swamped with work.

[2020-02-17 05:02] jstxx commented on #65
I would be happy to collab on something like this FWIW

[2020-02-17 16:18] GJNilsen commented on #65
Ive been reading on how to authenticate drawn signatures, but the math is way beyond my comprehension. So if you could bring some of the science on this field to the table, I would appreciate the help.

[2020-05-06 07:51] andrei-7peakssoftware-zz opened #80 "Delegate isn't public"
**Describe the bug**
Currently delegate is not marked as public and can't be used from the client code.
`weak var delegate: YPSignatureDelegate?`

**To Reproduce**
let view = YPSignatureDelegate()
view.delegate = self

**Expected behavior**
Expect to have it public to be able to use.

[2020-05-08 08:09] GJNilsen commented on #80
The delegate has been public for a long time.

https://github.com/GJNilsen/YPDrawSignatureView/blob/cb5465391809366c3520ddfe52ca3e4a3b0bf072/Sources/YPDrawSignatureView.swift#L30

[2020-05-08 08:09] #80 closed, assigned to nobody

[2020-05-09 22:05] GJNilsen commented on #80
I can’t understand how you got that line, since it is two years since it was fixed. You should explain a bit more, @andrei-7peakssoftware

[2020-05-10 06:31] andrei-7peakssoftware-zz commented on #80
Having pod 'YPDrawSignatureView' and doing pod update installs YPDrawSignatureView (1.1.2)
This version doesn’t have public keyword.

By trying to specify version pod 'YPDrawSignatureView', '~> 1.1.3’ and doing pod update I get an error:

CocoaPods could not find compatible versions for pod "YPDrawSignatureView”:
  In Podfile:
    YPDrawSignatureView (~> 1.1.3)

[2020-05-10 07:49] GJNilsen commented on #80
That explains it. I do not support CocoaPods,  I hate it with a vengeance. Furthermore, the CocoaPod is not maintained by me, and I do not have access to do anything with it. Now that piece of crap points to a more than two years old and buggy version of the code.

This is the reason you should **NEVER** use CocoaPods, you can't trust you get the correct code.

[2020-05-10 11:24] andrei-7peakssoftware-zz commented on #80
As long as I don't need to use resources I agree it's better to use SPM. May be you should mention it in Readme to avoid similar issues. I believe there are many who's gonna try to use it with Cocoapods as well.

[2020-11-18 13:48] NikhilGangurde commented on #20
This solution doesn't work in the case of UIScrollView.

[2020-11-18 21:04] GJNilsen commented on #20
You can still disable and enable scrolling in UIScrollViews with the delegate methods, just as with an UITableView.
`yourScrollView.isScrollEnabled = false`
If you still have a problem, ask on StackOverflow, and I'll give you an example there on how to solve it. The issue tracker here is for bugs and issues, not support.

[2021-01-13 15:36] ludivinefafournoux commented on #78
Yes It would be great !

[2021-01-14 17:36] GJNilsen commented on #78
There are SVG libraries and functions here on GitHub, I would use one of them, and run the CGPaths obtained from the YPDrawSignatureView through it.

Go to [TextPaths](https://github.com/malczak/TextPaths/blob/master/Samples/TextToSVG/TextToSVG/ViewController.swift) by @malczak for an example on how to convert CGPaths to SVG.

Adding any kind of export support is outside the scope of the YPDrawSig

[2021-01-29 22:40] #78 closed, assigned to nobody